* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    height: 2rem;
    width: 2rem;
}

svg {
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

